#root {
  margin: 0 auto;
}

.upbox {
  width: 150px;
  height: 150px;
  margin: auto;
  text-align: center;
  padding: 1em;
  background-color: #666;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  place-items: center;
  border: 1px solid transparent;
  padding: .6em 1.2em;
  font-size: 15px;
  font-weight: 500;
  font-family: inherit;
  background-color: #aaaaaa;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-right: 1em;
}
.upbox:hover {
  border-color: #ffffff;
  background-color: #b0b0b0;
}
.upbox:focus,
.upbox:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}